:root {
  --font-family: "Poppins", sans-serif;
  --dark-blue: #0a1930;
  --light-blue: #1f93ff;
  --color-white: #fff;
  --dark-text: #333;
  --form-button: #2da5ff;
  --color-grey: #eae6eb;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
#footer {
  background: #222;
  color: #fff;
}
html {
  font-size: 10px;
}
.footer {
  display: flex;
  justify-content: space-between;
}

.quick-access {
  width: 20%;
  text-align: center;
}

.footer h4 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.footer .footer-links {
  display: flex;
  flex-direction: column;
}

.footer .footer-links a {
  font-size: 1.2rem;
}

.support {
  width: 20%;
  text-align: center;
}

.contact {
  width: 20%;
}

.contact p {
  font-size: 1.2rem;
}

.footer-logo {
  width: 25%;
}

.footer-logo img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .quick-access {
    width: 50%;
    margin-bottom: 2rem;
  }
  .support {
    width: 50%;
    margin-bottom: 2rem;
  }

  .contact {
    width: 50%;
    margin-bottom: 2rem;
  }

  .footer-logo {
    width: 50%;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .quick-access {
    width: 100%;
    margin-bottom: 2rem;
  }
  .support {
    width: 100%;
    margin-bottom: 2rem;
  }

  .contact {
    width: 100%;
    margin-bottom: 2rem;
  }

  .footer-logo {
    width: 100%;
    margin-bottom: 2rem;
  }
}
