.products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product {
  position: absolute;
}

.products li {
  width: calc(25% - 10px);
  padding: 20px;
  box-shadow: 0 0 10px rgba(139, 139, 139, 0.3);
  margin-top: 30px;
  background: #fff;
  text-align: center;
}

.products li img {
  width: 100%;
  height: 170px;
  object-fit: contain;
}

.products li p {
  color: #333;
  border-bottom: 1px solid rgb(221, 221, 221);
  text-align: right;
  padding-bottom: 20px;
  font-size: 1.8rem;
  text-align: center;
}

.products li .product-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.products li .product-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.products li .product-price button {
  background: rgb(32, 43, 73);
  padding: 5px 10px;
  font-family: "vazir";
  border: none;
  cursor: pointer;
  color: aliceblue;
}

.products li .product-price .price {
  color: rgb(12, 199, 137);
  font-size: 1.8rem;
}
.products li .product-price .price span {
  margin-right: 5px;
  color: black;
}
.products li .product-price .p {
  color: black;
  border-bottom: none;
  padding-bottom: 0px;
}
